.task {
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.task span {
    padding-right: 10px;
}



.task .actions button {
    color: white;
    background-color: #007eff;
    margin-right: 10px;
    border: none;
    padding: 6px;
}

.customTask {
    color: red
}

.task input {
    margin-right: 10px;
    padding: 5px;
}

.task button {
    color: white;
    background-color: #007eff;
    margin-right: 10px;
    border: none;
    padding: 6px;
}