ul {
    list-style: none;
    display: flex;
    background-color: #ff960e;

    align-items: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}

ul li {
    width: 50%;
    text-align: center;
    height: 50px;


}

ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li:hover,
.active {
    color: white;
    background-color: #007eff;

}